.item-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    
    
}
.item {
    margin-left: 40px;
    padding: 0px;
    max-width: 200px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: 7px 6px 10px -6px rgba(0,0,0,0.75)
}
.item-p {
    padding: 5px 0px 0px 0px;
    margin: 0px;
    font-family: "Lato",sans-serif;
    font-size: 1em;
}
.c {
    font-size: 0.7em;
}

.img-itemlistcontainer {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    
}

.btn-detalle {
    text-align: center;
    padding: 5px;
    background-color: black;
}

.btn-comprar {
    text-decoration: none;
    color: whitesmoke;
}