.contacto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(171, 170, 170, 0.8);
    color: #fff;
    padding: 2rem;
    margin-top: 15px;
    
}

.form-contacto{
    display: flex;
    flex-direction: column;
    width: 90vh;
    background:transparent;
    color: #fff;
    
}

.input-contacto {
    min-height: 2rem;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    padding: 3px;
    margin: 5px;
    
}
.input-contacto::placeholder { color: #fff; }

.input-contacto:focus{
    outline: none;
}

.h1-contacto{
    margin: 0%;
    font-size: 3rem;
    
}

.button-contacto{
    min-height: 3rem;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    padding: 5px;
    margin: 5px;
    font-size: medium;
}