.contenedor-contador {
    
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-botones {
    width: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: rgb(115, 161, 241);
}

.button {
    background-color: #1119a4; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 5px;
}

.button:hover {
    background-color: #16105a;
}