.contenedor-contador {
    
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-botones {
    width: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: rgb(115, 161, 241);
}