.logo-bentica {
    height: 150px;
    width: 170px;
}
.logo-input {
    display: flex;
    justify-content: space-between;
    
}

.div-input  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.icono-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icono-carrito a {
    text-decoration: none;
    color: black;
}

.contenedor-header {
    margin: 10px 30px 0px 30px;
    border-bottom: 1px solid rgb(181, 177, 177);
}

