.logo-bentica {
    height: 150px;
    width: 170px;
}
.logo-input {
    display: flex;
    justify-content: space-between;
    
}

.div-input  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.icono-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-header {
    padding: 10px;
}