.detail {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    min-height: 50vh;
    
  
    
}

.aricledetail {
    max-width: 400px;
    padding-left: 50px;
    margin-right: 50px;
    border: 1px solid cornflowerblue;
    
    
}

.imagendetail {
    margin-left: 300px;
    
    
}

.button {
    min-height: 35px;
    background-color: #1119a4; 
    border: none;
    color: white;
    padding: 5px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 5px;
}

.button:hover {
    background-color: #16105a;
}

.contadorboton{
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
}
